.container {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
  position: fixed;
  right: 16px;
}

.label {
  width: 100px;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-danger);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.clearButton:hover {
  background: var(--color-danger-dark);
}
