:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #4e73df;
  --color-secondary: #f6c23e;
  --color-accent: #1cc88a;
  --color-neutral-bg: #f8f9fc;
  --color-neutral-text: #5a5c69;
  --font-heading: "Poppins", Arial, sans-serif;
  --font-body: "Inter", Arial, sans-serif;
}

body {
  background: var(--color-neutral-bg);
  color: var(--color-neutral-text);
  font-family: var(--font-body);
}
